<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinsend Transactional Email</title>
    <style>
      .container {
        width: 750px;
        height: 320px;
        background-color: white;
        color: #464242;
        padding: 5px;
      }
      .content {
        line-height: 35px;
      }
      a {
        color: blue;
      }
      .signature-content {
        line-height: 1.5;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <p class="content">
        Hello {{name}}, <br />
        We received a request to reset your Kinsend password. Please click the link below to create
        a new one. <br />
        If you did not make this request please send a message to us via help chat in your Kinsend
        desktop to report it. <br />
        <a href="{{url}}">{{content_link}}</a>
      </p>
      <p class="signature-content">
        Best,<br />The Team at Kinsend <br />
        <a href="https://kinsend.io/">team@kinsend.io</a> <br />
        <a href="https://kinsend.io/">www.kinsend.io</a>
      </p>
    </div>
  </body>
</html>
